.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.textField:hover {
  cursor: pointer;
}

/* Estilos para la barra de búsqueda */
.barraBusqueda {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilos para el campo de búsqueda */
.textField {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  flex: 1;
}

/* Estilos para el botón de búsqueda */
.btnBuscar {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para los filtros */
.filtros-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filtro-column {
  flex: 1;
  margin-right: 10px;
}

.filtro {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}
